@model IEnumerable<LCA_WEB.Models.Produkt>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Objekt auswählen oder hinzufügen";
}

<div class="ObjectBoxes">
    <div class="boxAddObject">@Html.ActionLink("+", "Create")</div>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr class="listObjectChoice">
                <td>@Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>@Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }
    </table>

    @*<ul>
        
        <li class="listObjectChoice">ICE 13456</li>
        <li class="listObjectChoice">ICE 345</li>
        <li class="listObjectChoice">Hauptbahnhof Frankfurt am Main</li>
        <li class="listObjectChoice">Hauptbahnhof Berlin</li>
        <li class="listObjectChoice">Hauptbahnhof Essen</li>
        <li class="listObjectChoice">Brücke am Fließ Berlin</li>
        <li class="listObjectChoice">Bahnhof Gesundbrunnen Berlin</li>
    </ul>*@
</div>