@using PagedList;
@using PagedList.Mvc;
@model IPagedList<LCA_WEB.Models.Produkt>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Objekt auswählen oder hinzufügen";
}
<div class="ObjectBoxes">
    <fieldset>
        @using (Html.BeginForm())
        {
            <p>
                <input type="text" name="keyword" @*required value="@ViewBag.Keyword"*@ />
                <input type="submit" value="Suche" />
                <div class="boxAddObject">@Html.ActionLink("+", "Create")</div>
            </p>
        }
    </fieldset>
    <table class="table">
        <tr>
            <th>@Html.ActionLink("Name", "Index", new
                {
                    sortOn
                        = "Name",
                    orderBy = ViewBag.OrderBy, pSortOn = ViewBag.SortOn, keyword =
                        ViewBag.Keyword
                })
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="listObjectChoice">
                <td>@Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>@Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }
    </table>
</div>
<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
    { page, sortOn = ViewBag.SortOn, orderBy = ViewBag.OrderBy, pSortOn =
        ViewBag.SortOn, keyword = ViewBag.Keyword }),
        PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>