@model IEnumerable<LCA_WEB.Models.ProduktRohstoffUmweltindikator>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Menge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Nutzungsdauer_in_Jahre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.DateOfChanging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ChangeBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Typ_Id)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Menge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Nutzungsdauer_in_Jahre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.DateOfCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.DateOfChanging)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ChangeBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Typ_Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Product.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Product.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Product.Id })
                </td>
            </tr>
    }
    </table>
